logs/
data/tcga-nucleus/v4_2020-04-05_FINAL_CORE/CORE_SET/QC/
results/
HistomicsTK/
inspect-output/
*.pth
.idea/
.*.swp
*.tif
*.png
*.svg
*.mat
*.npy
*.npz
*.pyc
__pycache__/
*-checkpoint.ipynb
.ipynb_checkpoints
core.*
